*{
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body, html {
    height: 100%;
    background-color: #001821;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
}


.main-page-wrapper {
    background: url("./img/1.jpg") center top no-repeat, url("./img/2.png") center bottom 186px no-repeat,#001821;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

button {
    background: transparent;
    padding: 0;
    border: 1px solid transparent;
}

h1, h2, h3, h4, p {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}
address {
    display: block;
    font-style: normal;
    

}

.contacts {
    
    text-align: right;
}

.contacts__text {
    color: #9A9A9A;
    font-size: 11px;
    font-weight: 400;
    text-align: right;
}

.contacts__graph{
    color: #FFF;
    font-size: 11px;
}

.contacts__top {
    color: #FFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 26px;
    
}

.contacts__graph {
    font-size: 13px;
    text-decoration-line: underline;
}

ul , li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1141px;
    margin: 0 auto;
}

.top__container {
    padding: 32px 0px; 
}

.main__container {
    padding: 90px  0px 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 179px;  
    align-items: center; 
}

.header__col {
    display: flex;
    align-items: center;
}

.logo , .menu , .contacts {
    
}

.logo{
    display: flex;
    
    
}

.logo__icon{
    width: 85px;
    height: 36px;
    flex-shrink: 0;
    margin-right: 79px;
    
}

.menu {
    margin-top: 0;
   
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link{
    color: #FFF;
    font-size: 14px;
    margin-right: 0;
}

.preview {
    width: 511px;
    margin-bottom: 247px;
    margin-top: -54px;
}

.preview__title {
    color: #FFF;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 19px;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.preview__subtitle {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 34px;
}


.button {
    border-radius: 35px;
    background: #F5170E;
    width: 168px;
    height: 55px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.button--border {
    background: transparent;
    border-color: #F5170E;
    color: #F5170E;
    width: 131px;
    height: 57px;
}

.button--click {
    border-radius: 35px;
    background: #F5170E;
    width: 131px;
    height: 57px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.hot-tours {
    margin-bottom: 132px;
}



.hot-tours__title {
    margin-bottom: 54px;
    display: flex;
    align-items: center;
}

.hot-tours__title-text {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    margin-right: 10px;
}

.hot-tours__title-icon {
    width: 21px;
    height: 28px;
}

.hot-tours__list {
    display: flex;
    justify-content: space-between;
}

.hot-tours__item {
    background:#FFF;;
    width: 362px;
    height: 450px;
    
    margin-right: 27px;
    border-radius: 4px;

}

.hot-tours__item:last-child {
    margin-right: 0;
}

.hot-tours__content {
    padding: 45px 24px;
    margin-bottom: 40px;
}

.hot-tours__picture {
    width: 362px;
    height: 144px;
    flex-shrink: 0;
    border-radius: 5px 5px 0px 0px;
}

.hot-tours__subtitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: -7px;
}

.hot-tours__option-icon {
    margin-right: 6px;
    width: 32px;
    height: 28px;
}

.hot-tours__option-text {
    color: #666;
    font-size: 16px;
    font-weight: 400;
}

.hot-tours__text {
    margin-bottom: 24px;
    color: #303030;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}


.hot-tours__option {
    margin-bottom: 27px;
    display: flex;
}

.hot-tours__option-page {
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.hot-tours__option-page:last-child {
    margin: 0;
}

.hot-tours__button {
    width: 135px;
    height: 55px;
    border-radius: 35px;
}

.news {
    margin-bottom: 55px;
}

.news__list {
    display: flex;
    justify-content: space-between;
}

.news__title {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 55px;
}



.news__item {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 3px;
    
}


.news__item:last-child {
    margin-right: 0px;
}

.news__image {
    width: 100%;
    height: 394px;
    border-radius: 5px;
}

.news__content {
    padding: 0 37px;
    bottom: 0;
    margin-bottom: 47px;
    position: absolute;
    color: #FFF;
}

.news__date {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 18px;
}

.news__subtitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.paginator--theme--light {
    color: #000;
}

.paginator--theme--light .paginator__item--active .paginator__link {
    color: #fff;
    background: #F5170E;
}

.paginator--theme--light .paginator__link:hover {
    color: #FFF;
    background: #F5170E;
}




.paginator__list {
    display: flex;
    justify-content: center;
}

.paginator__display {
display: inline-block;
vertical-align: middle;

margin-right: 36px;
}


.paginator__item {
   
}

.paginator__link {
    display: block;
    padding: 5px 10px;
    /* width: 32px; */
    /* height: 32px; */
    border-radius: 50%;
    text-decoration: none;
    font-weight: 700;
    line-height: 32px;
    background: transparent;
    font-size: 16px;
    transition: .4s;
    line-height: 21px;
    margin-right: 5px;
}

.paginator__link:hover {
    color: #F5170E;
    background: #FFF;
}

.about {
    display: flex;
    margin-bottom: 53px;
    margin-top: 145px;
}

.about:before {
    content: "";
    
    display: block;
    width: 488px;
    height: 502px;
    background: url("./img/gates.jpg") center center / cover no-repeat;
    border-radius: 5px;
}

.about__content {
    background: url("./img/mountains.jpg") center center / cover no-repeat;
    padding: 80px 81px;
    max-width: 789px;
    height: 455px;
    margin-left: -140px;
    margin-top: 98PX;
    border-radius: 5px;
}

.about__title {
    font-weight: bold;
    font-size: 36px;
    margin-top: -10px;
    margin-bottom: 40px;
}

.about__text {
    margin-bottom: 74px;
    color: #060606;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.footer-container {
    margin-top: auto;
}

.footer-container__content {
    border-top: 1px solid #192f37
}

.footer {
    position: relative;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    align-items: flex-end;
}

.socials{
    margin-right: 70px;
    
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px
}
.socials__item:last-child {
    margin-right: 0;
}

.socials__icon {
    width: 36px;
    height: 36px;
}
 
.contacts__bottom {
    color: #FFF;
    text-decoration: none;
    font-size: 26px;
    text-align: right;
}

/* services page */


.top-line {
    min-height: 415px;
    background: url(./img/headline\ 1.png) left top no-repeat;
    display: flex;
    flex-direction: column;
    margin-bottom: -3px;
    padding: 32px 0px;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.page {
    margin-top: -190px;
    margin-left: 0;
    margin-bottom: 0;
}

.page__title {
    color: #FFF;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.breadcrumbs {
    
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
    color: #9A9A9A;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.breadcrumbs__item::after {
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    display: flex;
}

.main-content {
    background: #FFF;
    color: #303030;
}

.service__content {
    padding: 101px 0px;
}

.services__list {
    margin-bottom: 11px;
}

.services__item {
    display: flex;
    margin-bottom: 0;
    align-items: flex-start;
}

.services__img {
    width: 460px;
    margin-right: 60px;
    height: 333px;
    margin-bottom: 51px;
}


.services__content {
    flex: 1;
    margin-top: 10px;
}

.services__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 34px;
    
}

.servies__desc {
    line-height: 1.7;
    margin-bottom: 20px;
}

.services__text {
    color: #303030;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px
}

.services__button {
    margin-left: 0px;
    margin-top: 30px;
}

.services__button-text {
    background: #F5170E;
    border-radius: 35px;
    border: 1px;
    border-style: solid;
    border-color: #F5170E;
    padding: 18px 40px;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.partners {
    background: #F4F5F5;
    color: #303030;
}

.partners__container {
    padding: 55px  0px;
}


.partners__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 60px;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
}
.partners__item {
    margin-left: 46px;
    margin-top: 82px;
}

.partners__item:nth-child(4n+1) {
    margin-left: 0;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 220px;
    height: 70px;
    align-items: center;
    justify-content: center;
}